/* Главные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Iowan Old Style;
}

body {
    padding-top: 120px;
    background-color: #F9FFE5;
    line-height: 1.6;
    margin: 0; 
}

/* Хэдэр */

header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #F9FFE5;
    padding: 0 20px;
    box-shadow: 0px 3px 20px rgb(69, 69, 69);
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

header img {
    width: 80px;
    height: 80px;
}

nav {
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
}

nav a {
    color: #4F4F4F;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

h1, h2, h3 {
    margin-bottom: 15px;
    color: #4F4F4F;
    text-align: center;
}

/* блок с формой */
.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.contact-form {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background: #F9FFE5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-bottom: 20px;
}

.contacts {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background: #F9FFE5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #2a572c;
    background-color: #F9FFE5;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-btn {
    background: #006F06;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #028d09;
}

/* блок с контактной информации */
.contacts p {
    margin-bottom: 15px;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links a {
    color: #4F4F4F;;
    text-decoration: underline;
}

.social-links a:hover {
    color: #616060;
    text-decoration: underline;
}

/* блок с картой */
.map-container {
    margin-top: 30px;
    text-align: center;
}

.static-map {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Адаптация */
@media (max-width: 768px) {
    .contact-form, .contacts {
        margin-right: 0;
    }
}

/* Футер */

footer {
    background-color: #333;
    color: #F9FFE5;
    padding: 20px;
    text-align: right;
}

.contact-info {
    margin: 0 auto;
}

.contact-info p {
    margin-bottom: 7px;
}